
/MasterThesisRCode/.Rproj.user
/MasterThesisRCode/data
/MasterThesisRCode/data
.Rproj.user
SpectralPatang/.Rhistory
MasterThesisPythonCode/clustered_hyperspectral_image.tif
/MasterThesisPythonCode/result
/SpectralPatang/test_data_cloud_mask/ang20190704t195946rfl
/SpectralPatang/test_data_elbow
/MasterThesisRCode/backupres
/MasterThesisRCode/ang20180812t231551rfl
/MasterThesisRCode/ang20190712t231624rfl
/SpectralPatang/test_elbow_method
/SpectralPatang/test_cropped_flightstrip
/MasterThesisRCode/ang20220710t000447rfl
/SpectralPatang/test_data
/MasterThesisPythonCode/data
/SpectralPatang/data
