
/MasterThesisRCode/.Rproj.user
/MasterThesisRCode/data
/MasterThesisRCode/data
.Rproj.user
SpectralPatang/.Rhistory
MasterThesisPythonCode/clustered_hyperspectral_image.tif
/MasterThesisPythonCode/result
/SpectralPatang/test_data_cloud_mask/ang20190704t195946rfl
/SpectralPatang/test_data_elbow
/MasterThesisRCode/backupres
/MasterThesisRCode/ang20180812t231551rfl
/MasterThesisRCode/ang20190712t231624rfl
/SpectralPatang/test_elbow_method
/SpectralPatang/test_cropped_flightstrip
/MasterThesisRCode/ang20220710t000447rfl
/SpectralPatang/test_data
/MasterThesisPythonCode/data
/SpectralPatang/data
/MasterThesisPythonCode/ang20180722t212222rfl
/MasterThesisPythonCode/ang20180729t212542rfl
SpectralPatang/PCA_selected.tif
SpectralPatang/PCA_selected_Rectified
SpectralPatang/PCA_selected_Rectified.aux.xml
SpectralPatang/PCA_selected_Rectified.hdr
/MasterThesisPythonCode/c_ang20180812t223939rfl
/MasterThesisPythonCode/d_ang20180812t233938rfl
/MasterThesisPythonCode/d_ang20190713t002123rfl
/MasterThesisPythonCode/e_ang20180722t212222rfl
SpectralPatang/SpectralPatang.Rproj
*.Rproj
SpectralPatang/SpectralPatang.Rproj
